{%load static%}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Note Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Drop A Note</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/lab-4">NoteTable</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/lab-4/add-note">AddNote</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/lab-4/note-list">NoteCard</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="container-fluid" id="page_container">
      <h1 class="text-center">Create Your Form Here!</h1>
      <div class="form-group">
        <form action="" method="POST">
          <div class="container">
            {% csrf_token %}
            {{note_form.as_p}}
            <input type='submit' value='Save and Publish Note'>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>