{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Note as Table</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Drop A Note</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/lab-4">NoteTable</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/lab-4/add-note">AddNote</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/lab-4/note-list">NoteCard</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <h1>Table of Notes</h1>
    <table>
      <tr>
        <th class="section">To</th>
        <th class="section">From</th>
        <th class="section">Title</th>
        <th class="section">Message</th>
      </tr>
      <!-- loop from Note model -->
      {% if all_notes %} 
		    {% for all_notes in all_notes %}
        <tr>
          <td>{{ all_notes.to }}</td>
          <td>{{ all_notes.dari }}</td>
          <td>{{ all_notes.title }}</td>
          <td>{{ all_notes.message }}</td>
        </tr>
		    <br/>
		    {% endfor %}
	    {% endif %}
    </table>
  </body>
</html>

