{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note as Cards</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/cards.css' %}">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Drop A Note</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/lab-4">NoteTable</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/lab-4/add-note">AddNote</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/lab-4/note-list">NoteCard</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid" id="page_container">
      <h1 id="CoF">Card of Notes</h1>

      <div class="container">
        {% if notes %}
          {% for notes in notes %}
            <div class="container" id="card_container">
              <div class="card">
                <div class="bg-warning">
                  <div class="container" id="card_content_container">
                    <h5 class="card-title">To: {{ notes.to }}</h5>
                    <h5 class="card-title">From: {{ notes.dari }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Title: {{ notes.title }}</h6>
                    <p class="card-text">{{ notes.message }}</p>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>

    </div>
  </body>

</html>

