<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friends List</title>

    <!-- Atur style agar tabel dipisahkan oleh garis -->
    <style>
      th, tr, td {border:solid}
    </style>
  </head>
  <body>
    <table>
        <tr>
            <th>Nama</th>
            <th>NPM</th>
            <th>Tanggal Lahir</th>
        </tr>
      <!-- TODO loop from Friend model -->
      {% if friends %} 
		    {% for teman in friends %}
        <tr>
          <td>{{ teman.name }}</td>
          <td>{{ teman.npm }}</td>
          <td>{{ teman.tanggal_lahir }}</td>
        </tr>
		    <br/>
		    {% endfor %}
	    {% endif %}
    </table>
  </body>
</html>