<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>List of Notes</title>

    <!-- Atur style agar tabel dipisahkan oleh garis -->
    <style>
      th, tr, td {border:solid}
    </style>
  </head>
  <body>
    <table>
        <tr>
            <th>To</th>
            <th>From</th>
            <th>Title</th>
            <th>Message</th>
        </tr>
      <!-- TODO loop from Note model -->
      {% if notes %} 
		    {% for notes in notes %}
        <tr>
          <td>{{ notes.to }}</td>
          <td>{{ notes.dari }}</td>
          <td>{{ notes.title }}</td>
          <td>{{ notes.message }}</td>
        </tr>
		    <br/>
		    {% endfor %}
	    {% endif %}

      <!-- EXAMPLE SECTION -->
      <!--<tr>
        <td>Asmara Nugi</td>
        <td>1706032156</td>
        <td>May 1, 1999</td>
      </tr>
      <tr>
        <td>Fadli Rais</td>
        <td>1706032370</td>
        <td>Sept 11, 1998</td>
      </tr>-->
      <!-- END SECTION -->
    </table>
  </body>
</html>

