body {
    background-color: rgb(163, 255, 255);
}

h1 {
    text-align: center;
    
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

th, td {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: rgb(214, 214, 214);
}

.section {
    background-color: rgb(240, 173, 78);
}

